@tailwind base;

@layer base {
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .banner {
        @apply w-full h-screen;

        background: #666 url('../../img/house/Banner.png') center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-blend-mode: multiply;
    }
}

@tailwind components;

@layer components {
    .transition-transform {
        transition: transform 0.3s ease-in-out;
    }

    .transition-opacity {
        transition: opacity 0.3s ease-in-out;
    }

    .transition-display {
        transition: display 0.3s ease-in-out;
    }
}

@tailwind utilities;